# Web Framework
Flask
gunicorn

# Data Handling and Manipulation
dask[dataframe]
pandas
numpy
pyarrow
fastparquet
openpyxl  # For .xlsx file support

# Machine Learning & Modeling
category_encoders
shap
scikit-learn
scikit-optimize
xgboost
lightgbm
catboost

# Plotting & EDA
plotly
nbformat

# Other
requests
